@model ToyotaGarancneOpravy.Models.Priloha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Priloha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.garancnaOprava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.garancnaOprava.GarancnaOpravaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrilohaTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrilohaTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrilohaNazov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrilohaNazov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrilohaSubor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrilohaSubor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrilohaFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrilohaFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrilohaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
